body {
    background-color: #F8C8DC;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    font-family: monoid;
    color: #FFFF00;
    text-align: center;
}

h2 {
    font-family: mononoki;
    color: #a0ced9;
    text-align: center;
}

img {
    width: 350px;
}

p {
    color: #A6F0C6;
    font-size: 35px;
    text-align: center;
    font-family: Sudo;
}

